/* css file-whole design section */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* importation of instructed font style */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&display=swap');

/* mobile-boby section */
body{
    font-family: 'Kumbh Sans', sans-serif;
    margin: auto;
    width: 375px;
    height: 100vh;
    padding: 20px 0;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    top: 150px;
}


/* image design section */
.image{
    display: flex;
    align-items: center;
    margin: auto;
    /* background-color: brown; */
}

.sister{
    width: 200px;
    position: relative;
    bottom: 105px;
    left: 50px;
}

.shade{
    width: 200px;
    position: relative;
    bottom: 50px;
    right: 150px;
}

.box{
    display: none;

}

.white{
    padding: 15px ;
    background-color: white;
    border-radius: 20px;
    height: 500px; 
    position: relative;
    top: 0px; 
    box-shadow: 0px 102px 41px rgba(0, 0, 0, 0.03),
    0px 57px 34px rgba(0, 0, 0, 0.1), 0px 25px 25px rgba(0, 0, 0, 0.17);
}

.content{
    position: relative;
    bottom: 50px;
}

h1{   
    text-align: center;
    position: relative;
    /* bottom: 60px; */
}

.qn{
    padding: 10px 0;
}

.accordion {
    background-color: transparent;
    cursor: pointer;
    /* padding: 20px 0; */
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.3s;
    position: relative;

  }

  .accordion:hover {
    color: hsl(14, 88%, 65%);
  }

  .accordion
  :focus{
    color: hsl(238, 29%, 16%);
    font-weight: 700;
    }

    input[type='radio']{
    display: none;
    }

  .arrow{
    display: inline;
    margin-top: 6px;
    float:right;
    /* transform: rotate(-180deg) */
  }


/* hidden content design */
  .panel {
    margin-right: 50px;
    line-height: 18px;
    font-size: 12px;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0.5;
    padding-top: 10px;
    max-height: 0;
    transition: max-height 1.0s ease;

  }

  input[type='radio']:checked + .panel{
    max-height: 100px;
  }

 /* .active img{
    transform: rotate(180deg)
  } */

  hr{
    border: 0.05px solid gray;
    position: relative;
    /* bottom: 50px; */
    opacity: 0.2;
}


/* content creators selectors */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    top: 190px;
}

.attribution a { 
    color: hsl(273, 75%, 66%);
    /* color: hsl(228, 45%, 44%);  */
    text-decoration: none;
    font-size: 12px;
}


/* media quary section (moving to other devices)*/
@media only screen and (min-width: 768px){
    body{
        width: 100vw;
        /* margin: auto; */
    }

    .white{
        width: 767px;
        height: 440px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: auto;
    }


/* image design section */
    .illustration{
        margin-bottom: 0;
    }

    .image{
        transform: scale(1.5);
        position: relative;
        top: 70%;
        right: 101%;
    }

    .sister{
        transform: scale(1.3);
        position: absolute;
        bottom: 40%;
        left: -124%;
        /* background-color: brown; */
    }

    .shade{
      transform: scale(2.5);
        position: absolute;
        bottom: 80%;
        right: 180%;
    }

    .box {
        display: inherit;
        transform: translate(-342%, 71%); 
    }
    

    /* text design section */
    .content{
        padding: 20px;
        width: 400px;
        position: absolute;
        top: 20px;
    }
}