/* css file-whole design section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* importation of instructed font style */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&display=swap');

/* mobile-boby section */
body{
    font-family: 'Kumbh Sans', sans-serif;
    margin: auto;
    width: 375px;
    height: 100vh;
    padding-top: 120px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.white{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 700px;
    margin: auto; 
    box-shadow: 0px 102px 41px rgba(0, 0, 0, 0.03),
    0px 57px 34px rgba(0, 0, 0, 0.1), 0px 25px 25px rgba(0, 0, 0, 0.17);
}


/* image design section */
.illustration{
    width: 100%;
    height: 0;
    display: block;
    flex-direction: row;
    align-items: center;
}

.image1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online{
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateY(-15px);
}

.image2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube{
    width: 200px;
}

.at{
    display: none;
}


/* text design section */
.content{
    padding: 30px;
    position: relative;
    transform: translateY(80px);
}

h1{   
    text-align: center;
    padding-bottom: 15px;
}

.question{
    padding: 10px 0;
}

.accordion {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.3s;
    position: relative;
}

.accordion:hover {
    color: hsl(14, 88%, 65%);
}

.accordion:focus{
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}


/* arrow down/up design section */
.arrow{
    display: inline;
    margin-top: 6px;
    float:right;
}

.question.active .arrow{
    transform: rotate(180deg)
}


/* hidden content design */
.panel {
    margin-right: 50px;
    line-height: 18px;
    font-size: 12px;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0.5;
    padding-top: 10px;
    max-height: 0;
    transition: max-height 1.0s ease;

}

.question.active .panel {
    max-height: 100px;
}

hr{
    border: 0.05px solid gray;
    position: relative;
    opacity: 0.2;
}


/* content creators selectors */
.attribution {
    font-size: 11px; 
    text-align: center; 
    height: 20%;
}

.attribution a { 
    color: hsl(273, 75%, 66%);
    text-decoration: none;
    font-size: 12px;
}


/* media quary section (moving to other devices)*/
@media only screen and (min-width: 768px){
    body{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .white{
        width: 900px;
        height: 450px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    .at{
        width: 140px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        left: -7.5%;
        top: 45%;
        z-index: 1;
        transform: scale(1.1);
    }

/* image container design section */
    .illustration{
        width: 50%;
        height: 100%;
        border: none;
        display: block;
        flex-direction: row;
        align-items: center;
    }

    .image1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        top: 0;
        left: -35%;
    }

    .sister{
        width: 400px;
        display: flex;
        flex-direction: row;
        transform: translateX(-91px);
        position: relative;
        bottom: 0;
        left: 5%;
    }

    .image2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -100%;
        left: -35%;
        overflow: hidden;
    }

    .shade{
        position: relative;
        top: -7.5%;
        left: -120%;
        width: 200%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }

  
    /* text design section */
    .content{
        width: 60%;
        height: 100%;
        margin: auto;
        position: relative;
        left: -10%;
        top: -12%;
    
    }

    .content h1{
        text-align: start;
    }
}

